.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: $ff;
	font-size: 16px;
	font-style: normal;
	font-weight: $fw-bold;
	line-height: normal;
	transition: background $tr ease, color $tr ease;
	cursor: pointer;

	&.transparent {
		padding: 0 20.5px;
		color: $dark-blue;
		font-weight: $fw-medium;

		&:hover {
			color: $gray-middle;
		}
	}

	&.blue {
		min-height: 50px;
		padding: 0 40px;
		color: $white;
		text-align: center;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		background: $lg-light-blue;
		border-radius: 10px;
		position: relative;
		z-index: 2;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: $lg-light-light-blue;
			z-index: -1;
			opacity: 0;
			border-radius: 10px;
			transition: opacity ease $tr;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}
}

.sort__button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $gray-middle;
	font-family: $ff;
	font-size: 16px;
	font-style: normal;
	font-weight: $fw-regular;
	line-height: normal;
	padding: 10px 20px;
	cursor: pointer;

	&_img {
		width: 20px;
		height: 20px;
		margin-right: 10px;

		svg {
			width: 100%;
			height: 100%;
		}

		svg path {
			fill: $light-blue;
		}
	}
}

.box__shadow_button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white;
	color: $light-blue;
	font-family: $ff;
	font-size: 16px;
	font-style: normal;
	font-weight: $fw-medium;
	line-height: normal;
	box-shadow: $gray-shadow;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: opacity ease $tr;
	min-width: 181px;

	@media all and (min-width: $lg) {
		padding: 10px 15px;
	}

	&:hover {
		opacity: $op;
	}
}

.burger__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 20px;
	cursor: pointer;
	transition: opacity ease $tr;
	position: relative;
	z-index: 100;

	span {
		display: block;
		width: 100%;
		height: 3px;
		background-color: $dark-blue;
		border-radius: 30px;
		position: relative;
		transition: transform ease $tr;
		

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 3px;
			background-color: $dark-blue;
			border-radius: 30px;
			position: absolute;
			left: 0;
			top: -8px;
			transition: transform ease $tr;
		}

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 3px;
			background-color: $dark-blue;
			border-radius: 30px;
			position: absolute;
			left: 0;
			top: 8px;
			transition: opacity  ease $tr;
		}
	}

	&:hover {
		opacity: $op;
	}

	@media all and (min-width: $xl) {
		display: none;
	}

	&.opened {
		span {
			transform: rotate(-45deg);

			&::before {
				top: 0;
				transform: rotate(90deg);
			}

			&::after {
				transform: translateY(100%);
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}