.bonuses__card {
	width: 100%;
	max-width: 310px;
	background-color: $white;
	border-radius: $bord-20;
	box-shadow: $gray-shadow;

	&.big {
		@media all and (min-width: $sm) {
			max-width: 335px;
		}
	}

    &.short {
        .bonuses__card_link {
            display:  none;
        }

        .bonuses__card_text {
            margin-bottom: 10px;
        }
    }

	&_inner {
		display: flex;
		flex-direction: column;
	}

	&_top {
		background-color: $light-rose;
		border-radius: $bord-20;
		margin-bottom: 18px;
	}

	&_img {
		width: 100%;
		height: 192px;
		border-radius: $bord-20;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&_name {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $dark-blue;
		text-align: center;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
		text-transform: uppercase;
		height: 34px;
	}

	&_bottom {
		padding: 0 15px 20px 15px;
	}

	&_info {
		display: flex;
		justify-content: space-between;
	}

	&_text {
		width: calc(100% - 30px);
		color: $dark-blue;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 130%;
	}

	&_ico {
		width: 30px;
		height: 30px;

		svg {
			width: 100%;
			height: 100%;
			object-fit: cover;

			path {
				fill: $orange;
			}
		}
	}

	&_link {
		color: $light-blue;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
		margin: 10px 0;
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}
	}

	.button.blue {
		width: 100%;
	}
}