<div class="bookmaker__aside_wrapper">
	<div class="bookmaker__aside_inner">
		<aside class="bookmaker__aside">
			<ul class="bookmaker__aside_list">
				<li class="bookmaker__aside_item">
					Содержание
				</li>
				<li class="bookmaker__aside_item">
					<a href="#">Общая информация</a>
				</li>
				<li class="bookmaker__aside_item">
					<a href="#">Скачать приложение</a>
				</li>
				<li class="bookmaker__aside_item">
					<a href="#">Отзывы</a>
				</li>
				<li class="bookmaker__aside_item">
					<a href="#">Информация</a>
				</li>
				<li class="bookmaker__aside_item">
					<a href="#">Пополнение и вывод средств</a>
				</li>
				<li class="bookmaker__aside_item">
					<a href="#">Виды спорта, доступные для ставок</a>
				</li>
				<li class="bookmaker__aside_item">
					<a href="#">Акции букмекера</a>
				</li>
				<li class="bookmaker__aside_item">
					<a href="#">Обзор букмекера</a>
				</li>
				<li class="bookmaker__aside_item">
					<a href="#">Другие БК</a>
				</li>
				<li class="bookmaker__aside_item">
					<a href="#">Комментарии</a>
				</li>
			</ul>
		</aside>
		<div class="bookmaker__aside_items">
			<div class="aside__bookmaker">
				<div class="aside__bookmaker_image">
					<img src="img/bookmakers/pari.svg" width="100" height="32" alt="">
				</div>
				<a class="button blue" href="#" target="_blank">
					Открыть
				</a>
			</div>
			<div class="aside__bookmaker">
				<div class="aside__bookmaker_image">
					<img src="img/bookmakers/leon.svg" width="100" height="32" alt="">
				</div>
				<a class="button blue" href="#" target="_blank">
					Открыть
				</a>
			</div>
			<div class="aside__bookmaker">
				<div class="aside__bookmaker_image">
					<img src="img/bookmakers/olymp.svg" width="100" height="32" alt="">
				</div>
				<a class="button blue" href="#" target="_blank">
					Открыть
				</a>
			</div>
			<div class="aside__bookmaker">
				<div class="aside__bookmaker_image">
					<img src="img/bookmakers/betcity.svg" width="100" height="32" alt="">
				</div>
				<a class="button blue" href="#" target="_blank">
					Открыть
				</a>
			</div>
		</div>
	</div>
</div>