<divя class="card @@class">
	<a href="#" class="card__inner">
		<div class="card__inner_items">
			<div class="card__item">
				<div class="card__item_img">
					<img src="@@src3" width="50" height="50" loading="lazy" alt="">
				</div>
				<div class="card__item_img">
					<img src="@@src2" width="50" height="50" loading="lazy" alt="">
				</div>
				<div class="card__item_img">
					<img src="@@src1" width="50" height="50" loading="lazy" alt="">
				</div>
			</div>
		</div>
		<div class="card__inner_bottom">
			<div class="card__inner_info">
				<div class="card__name">
					@@name
				</div>
				<div class="card__category">
					@@category
				</div>
				<div class="card__link">
					Узнать больше
					@@include('../../svg/ui/card-arr.html')
				</div>
			</div>
		</div>
	</ф>
</divя>