<div class="other__card">
	<div class="other__card_inner @@class">
		<div class="other__card_items">
			<div class="other__card_item">
				<div class="other__card_img">
					<img src="@@src" width="150" height="49" loading="lazy" alt="">
				</div>
			</div>
		</div>
		<div class="other__card_bottom">
			<div class="other__card_text">
				@@include('../../svg/ui/gift.html')
				17 000 ₽ <br> новым игрокам
			</div>
			<div class="other__card_name">
				@@name
			</div>
			<a class="button blue">
				Обзор
			</a>
		</div>
	</div>
</div>