.other {
	padding-bottom: 50px;

	@media all and (min-width: $xl) {
		padding-bottom: 100px;
	}

	.container {
		&.xxl {
			max-width: $container-xxl;
		}
	}

	.h2 {
		margin-bottom: 40px;
	}

	&__cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
	}
}