<div class="bonuses__card">
	<div class="bonuses__card_inner">
		<div class="bonuses__card_top">
			<div class="bonuses__card_img">
				<img src="@@src" width="310" height="192" loading="lazy" alt="">
			</div>
			<div class="bonuses__card_name">
				@@name
			</div>
		</div>
		<div class="bonuses__card_bottom">
			<div class="bonuses__card_info">
				<div class="bonuses__card_text">
					@@text
				</div>
				<div class="bonuses__card_ico">
					@@include('../../svg/ui/fire.html')
				</div>
			</div>
			<a href="#" class="bonuses__card_link">
				Подробнее
			</a>
			<button class="button blue left">
				Открыть промокод
			</button>
		</div>
	</div>
</div>