.payment {
	.container {
		max-width: $container-xxl;
	}

	&__wrapper {
		background-color: $light-gray;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		background-color: $white;
		border-radius: $bord-20;
		padding: 0 24px 81px 24px;
		box-shadow: $gray-shadow4;
		position: relative;
		gap: 20px;

		@media all and (min-width: $md) {
			padding: 0 50px;
		}

		@media all and (min-width: $xl) {
			padding: 0 60px;
			gap: 24px;
		}
	}

	&__button {
		width: calc(100% / 2 - 20px);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 6px;
		cursor: pointer;
		filter: grayscale(100%);
		position: relative;
		transition: filter ease $tr,
			height ease $tr;

			@media all and (min-width: $md) {
				width: calc(100% / 4 - 20px);
			}

			@media all and (min-width: $xl) {
				width: calc(100% / 8 - 24px);
			}

		&::before {
			content: '';
			display: block;
			width: 0;
			height: 4px;
			background-color: $light-blue;
			border-radius: 20px 20px 0px 0px;
			position: absolute;
			left: 0;
			bottom: 0;
			opacity: 0;
			visibility: hidden;
			transition: opacity ease $tr,
				visibility ease $tr,
				width ease $tr;
		}

		&_img {
			width: 100%;
			max-width: 141px;
			height: 46px;
			transition: transform ease $tr,
				gap ease $tr;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&.active {
			filter: grayscale(0);

			&::before {
				opacity: 1;
				visibility: visible;
				width: 100%;
			}
		}

		&.hidden {
			display: none;

			&.showed {
				display: flex;
				animation: sho 1s forwards ease;

				@keyframes sho {
					0% {
						scale: 0;
					}

					100% {
						scale: 1;
					}
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		cursor: pointer;
		transition: opacity ease $tr;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 16px;

		svg {
			width: 100%;
			height: 100%;
			transform: rotate(-90deg);
			transition: transform ease $tr;
		}

		&:hover {
			opacity: $op;
		}

		&.clicked {
			svg {
				transform: rotate(90deg);
			}
		}

		@media all and (min-width: $md) {
			left: auto;
			right: -15px;
			bottom: 13px;
			top: auto;
		}

		@media all and (min-width: $xl) {
			left: auto;
			right: -15px;
			bottom: 13px;
			top: auto;			
		}
	}

	&__contents {
		border-radius: $bord-20;
		background-color: $white;
		box-shadow: $gray-shadow4;
		margin-top: 10px;
		padding: 16px;

		@media all and (min-width: $md) {
			padding: 30px 40px;
		}

		@media all and (min-width: $xl) {
			padding: 56px 97px;
		}
	}

	&__content {
		display: none;

		&.active {
			display: block;
			animation: fadeTab 1s forwards ease;

			@keyframes fadeTab {
				0% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}
		}

		&_wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@media all and (min-width: $lg) {
				flex-direction: row;
			}
		}

		&_item {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}

			@media all and (min-width: $lg) {
				max-width: 498px;
				margin-bottom: 0;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&_info {
			display: flex;
			flex-direction: column;
			padding-bottom: 0;

			@media all and (min-width: $md) {
				padding-bottom: 18px;
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 13px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__text {
		width: 60%;
		color: $gray-middle;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
		padding-right: 10px;

		@media all and (min-width: $md) {
			font-size: 20px;
			width: 50%;
		}
	}

	&__quantity {
		width: 40%;
		color: $dark-blue;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-bold;
		line-height: normal;
		padding-right: 10px;
		text-align: right;

		@media all and (min-width: $md) {
			font-size: 20px;
			width: 50%;
		}
	}

	&__title {
		width: calc(100% - 30px);
		color: $dark-blue;
		text-align: center;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;

		@media all and (min-width: $md) {
			font-size: 20px;
		}

		&_wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 20px;
			border-bottom: 1px solid $light-gray;
			margin-bottom: 17px;
		}

		&_ico {
			width: 30px;
			height: 30px;

			svg {
				width: 100%;
				height: 100%;
				object-fit: cover;

				path {
					fill: $light-blue;
				}
			}
		}
	}
}