.user__feedback {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px;
	background-color: $light-gray;
	border-radius: $bord-20;
	margin-bottom: 10px;

	@media all and (min-width: $md) {
		padding: 50px;
	}

	.user__feedback {
		padding: 30px 20px 30px 20px;
		position: relative;

		@media all and (min-width: $md) {
			padding: 30px 50px 30px 50px;
		}

		&::before {
			content: '';
			width: 100%;
			height: 3px;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background-color: $white;
		}

		&:nth-child(n + 2) {
			&::before {
				width: 88%;
			}
		}

		.user__feedback {
			padding: 30px 0 0 0;

			@media all and (min-width: $md) {
				padding: 30px 50px 0 0;
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.notified {
		.user__notify {
			display: flex;
			margin-top: 10px;

			@media all and (min-width: $md) {
				margin-top: 0;
			}
		}
	}

	.inner__feedback {
		display: none;

		&.showed {
			display: block;
		}
	}

	&_top {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 30px;

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	.user__info {
		display: flex;
		flex-direction: column;

		&_right {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@media all and (min-width: $md) {
				flex-direction: row;
				align-items: center;
			}
		}
	}

	.user__notify {
		display: none;
		align-items: center;
		justify-content: center;
		background-color: $white;
		border-radius: 100px;
		box-shadow: $gray-shadow3;
		padding: 9px 20px;
		min-height: 40px;
		color: $gray-middle;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: 130%;

		@media all and (min-width: $md) {
			padding: 9px 20px;
			margin-right: 10px;
		}
	}

	.user__stars {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 10px 20px;
		background-color: $white;
		border-radius: 100px;
		box-shadow: $gray-shadow3;
		min-height: 40px;
		margin-top: 10px;

		@media all and (min-width: $md) {
			margin-top: 0;
		}
	}

	.user__info_wrapper {
		display: flex;
		align-items: center;
	}

	.user__img {
		width: 60px;
		height: 60px;
		border-radius: 20px;
		margin-right: 10px;
		background-color: $light-blue2;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 20px;
		}
	}

	.user__name {
		color: $dark-blue;
		font-family: Gotham Pro;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: 130%;
	}

	.user__date {
		color: $gray-middle;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 130%;
	}

	.user__text {
		color: $dark-blue;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 130%;
		margin-bottom: 30px;

		&.big {
			position: relative;
			margin-bottom: 0;
			height: 105px;
			overflow: hidden;

			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, #F6F6F6 0%, rgba(246, 246, 246, 0.00) 36.45%);
				position: absolute;
				left: 0;
				bottom: 0;
			}

			&.more {
				overflow: visible;
				height: auto;

				&::after {
					display: none;
				}
			}
		}
	}

	.read__all {
		display: none;
		align-items: center;
		color: $light-blue;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
		cursor: pointer;
		transition: opacity ease $tr;
		margin-bottom: 30px;
		margin-top: 15px;

		svg {
			margin-left: 6px;
			transform: rotate(90deg);
			transition: transform ease $tr;
		}

		&:hover {
			opacity: $op;
		}

		&.visible {
			display: flex;
		}

		&.clicked {
			svg {
				transform: rotate(-90deg);
			}
		}
	}

	.show__comments {
		display: flex;
		align-items: center;
		color: $light-blue;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
		cursor: pointer;
		transition: opacity ease $tr;
		margin-top: 30px;

		svg {
			margin-left: 6px;
			transform: rotate(90deg);
			transition: transform ease $tr;
		}

		&:hover {
			opacity: $op;
		}

		&.clicked {
			margin-bottom: 30px;

			svg {
				transform: rotate(-90deg);
			}
		}	
	}

	&_bottom {
		display: flex;
		align-items: center;

		.thumbs {
			display: flex;
			gap: 6px;

			&__down {
				svg {
					transform: rotate(180deg)
				}
			}

			&__up, &__down {
				display: flex;
				align-items: center;
				width: 56px;
				cursor: pointer;

				svg {
					margin-right: 6px;
					width: 20px;
					height: 20px;

					.svg__top {
						fill: transparent;
						stroke: $dark-blue;
						fill-rule: evenodd;
					}
				}

				&.clicked {
					svg .svg__top {
						fill: $dark-blue;
						stroke: $dark-blue;
						fill-rule: nonzero;
					}
				}
			}

			&_value {
				color: $gray-middle;
				font-family: $ff;
				font-size: 16px;
				font-style: normal;
				font-weight: $fw-medium;
				line-height: 130%;
			}
		}
	}

	.reply {
		cursor: pointer;
		color: $light-blue;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
		margin-left: 16px;
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}
	}
}

.feedback__form {
	display: none;
	flex-direction: column;
	width: 100%;
	margin-top: 25px;

	&.cloned {
		display: flex;
	}
	
	fieldset {
		display: flex;
		flex-direction: column;
		width: 100%;

		input {
			width: 100%;
			color: $gray-middle;
			font-family: $ff;
			font-size: 12px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;
			padding: 15px 20px;
			margin-bottom: 10px;
			border: 1px solid #D1D1D6;
			border-radius: $bord-20;

			@media all and (min-width: $md) {
				font-size: 16px;
				padding: 15px 50px;
			}

			&::placeholder {
				color: $gray-middle;
				font-family: $ff;
				font-size: 16px;

			}
		}

		textarea {
			width: 100%;
			color: $gray-middle;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;
			resize: none;
			padding: 30px 10px 50px 20px;
			border: 1px solid #D1D1D6;
			border-radius: $bord-20;

			@media all and (min-width: $md) {
				padding: 30px 50px 25px 50px;
				font-size: 16px;
			}

			&::placeholder {
				color: $gray-middle;
				font-family: $ff;
				font-size: 16px;
			}
		}
	}

	&_buttons {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 10px;

		@media all and (min-width: $md) {
			flex-direction: row;
		}

		.blue {
			width: 100%;
			max-width: 220px;
			margin-top: 10px;

			@media all and (min-width: $md) {
				margin-right: 10px;
				margin-top: 0;
			}
		}

		.cancel {
			cursor: pointer;
			padding: 16px;
			color: $dark-blue;
			text-align: center;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;
			transition: opacity ease $tr;

			&:hover {
				opacity: $op;
			}
		}
	}
}

.main__feedback {
	margin-top: 40px;
	display: none;

	@media all and (min-width: $xl) {
		display: block;
	}

	legend {
		color: $dark-blue;
		font-family: $ff;
		font-size: 32px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
		padding-left: 50px;
		margin-bottom: 20px;
	}

	fieldset {
		width: 100%;
		display: flex;
	}

	.main__left {
		width: calc(50% - 10px);
		display: flex;
		flex-direction: column;
		margin-right: 10px;

		@media all and (min-width: 1500px) {
			width: calc(65% - 10px);
		}

		.textarea__wrapper {
			width: 100%;
			position: relative;

			&::after {
				content: 'мин. 60 — макс. 2000 символов';
				display: block;
				position: absolute;
				left: 20px;
				bottom: 30px;
				font-family: $ff;
				color: $gray-middle;
				font-size: 16px;
				font-style: normal;
				font-weight: $fw-regular;
				line-height: normal;

				@media all and (min-width: 1500px) {
					left: 50px;
				}
			}

			&:focus-within::after {
				display:  none;
			}
		}

		textarea {
			width: 100%;
			padding: 20px;
			resize: none;
			border-radius: $bord-20;
			border: 1px solid #D1D1D6;
			color: $gray-middle;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;
			min-height: 220px;
			

			&::placeholder {
				color: $gray-middle;
				font-family: $ff;
				font-size: 16px;
				font-style: normal;
				font-weight: $fw-regular;
				line-height: normal;
				opacity: 1;
			}

			&:focus {
				&::placeholder {
					opacity: 0;
				}
			}

			@media all and (min-width: 1500px) {
				padding: 30px 50px;
			}
		}
	}

	.main__inputs {
		display: flex;
		flex-direction: column;

		@media all and (min-width: 1500px) {
			flex-direction: row;
			margin-bottom: 10px;
		}

		input {
			padding: 10px 20px;
			height: 70px;
			color: $gray-middle;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;
			border-radius: $bord-20;
			border: 1px solid #D1D1D6;
			margin-bottom: 10px;

			&::placeholder {
				color: $gray-middle;
				font-family: $ff;
				font-size: 16px;
				font-style: normal;
				font-weight: $fw-medium;
				line-height: normal;
				opacity: 1;
			}

			@media all and (min-width: 1500px) {
				padding: 0 50px;
			}

			&:first-child {
				width: 100%;

				@media all and (min-width: 1500px) {
					max-width: 350px;
					margin-right: 10px;
				}
			}

			&:last-child {
				width: 100%;

				@media all and (min-width: 1500px) {
					max-width: 512px;
				}
			}
		}
	}

	.main__right {
		width: 100%;
		display: flex;
		flex-direction: column;
		border: 1px solid #D1D1D6;
		padding: 30px;
		border-radius: $bord-20;
		height: calc(100% - 60px);

		@media all and (min-width: 1500px) {
			padding: 45px 76px 92px 76px;
		}

		&_wrapper {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;

			@media all and (min-width: 1500px) {
				width: 35%;
				
			}
			
			.blue {
				margin-top: auto;
				width: 100%;
			}
		}

		.main__title {
			color: $dark-blue;
			font-family: $ff;
			font-size: 24px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;
			margin-bottom: 36px;
			text-align: center;
		}

		.main__stars {
			display: flex;
			justify-content: center;
			gap: 12px;
			cursor: pointer;

			svg {
				width: 40px;
				height: 40px;

				path {
					transition: fill ease $tr;
				}

				&.active {
					path {
						fill: #FFC62B;
					}
				}
			}
		}
	}
}

.for__sticky {
	@media all and (min-width: $xl) {
		overflow: visible;
	}
}