.about__box {
	padding: 20px 0 50px;

	@media all and (min-width: $lg) {
		padding: 28px 0 50px;	
	}

	&_items {
		display: flex;
		position: relative;
	}

	&_content {
		width: 100%;

		@media all and (min-width: $xl) {
			width: calc(100% - 433px);
		}
	}
}