<div class="payment__way_card">
	<div class="payment__way_inner">
		<div class="payment__way_img">
			<img src="@@src" width="110" height="46" alt="">
		</div>
		<div class="payment__way_title">
			@@title
		</div>
		<div class="payment__way_bottom">
			<div class="payment__way_row">
				<div class="payment__way_name">
					Мин. сумма
				</div>
				<div class="payment__way_info">
					@@info1
				</div>
			</div>
			<div class="payment__way_row">
				<div class="payment__way_name">
					Макс. сумма
				</div>
				<div class="payment__way_info">
					@@info2
				</div>
			</div>
			<div class="payment__way_row">
				<div class="payment__way_name">
					Комиссия
				</div>
				<div class="payment__way_info">
					@@info3
				</div>
			</div>
			<div class="payment__way_row">
				<div class="payment__way_name">
					Время перевода
				</div>
				<div class="payment__way_info">
					@@info4
				</div>
			</div>
		</div>
	</div>
</div>