.feedback {
	padding: 50px 0 0;

	@media all and (min-width: $xl) {
		padding: 50px 0 40px;
	}

	&__wrapper {
		display: flex;
	}

	&__left {
		width: 100%;
		max-width: 1019px;

		@media all and (min-width: $md) {
			margin-right: 40px;
		}
	}

	&__top {
		.mobile__title {
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			@media all and (min-width: $md) {
				display: none;
			}

			.h1 {
				margin-bottom: 0;
				width: 50%;
			}

			&_img {
				width: 100px;
				height: 100px;
				margin-right: 30px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		&_title {
			display: flex;
			align-items: flex-end;
			gap: 30px 20px;
			margin-bottom: 10px;
			flex-wrap: wrap;

			h1 {
				margin-bottom: 0;

				&.desktop {
					display: none;

					@media all and (min-width: $md) {
						display: block;
					}
				}
			}

			@media all and (min-width: $lg) {
				gap: 20px;
				margin-bottom: 33px;
			}
		}
	
		&_notify {
			display: flex;
			align-items: center;
			color: $dark-blue;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: 130%;
			padding: 4.5px 16px;
			box-shadow: $gray-shadow1;
			border-radius: 10px;
			min-height: 30px;

			img {
				margin-right: 10px;
			}
		}

		&_links {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			width: 100%;
			max-width: 550px;

			.blue {
				width: calc(50% - 5px);
				margin-right: 10px;
				white-space: nowrap;
			}

			&.desktop {
				display: none;

				@media all and (min-width: $xl) {
					display: flex;
				}
			}

			&.mobile {
				@media all and (min-width: $xl) {
					display: none;
				}			
			}
		}

		&_link {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $dark-blue;
			text-align: center;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;
			min-height: 50px;
			padding: 16px 40px;
			width: calc(50% - 5px);
			box-shadow: $gray-shadow1;
			border-radius: 10px;
			transition: opacity ease $tr;

			&:hover {
				opacity: $op;
			}
		}

		.feedback__link {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $white;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;
			padding: 6px 16px;
			background: $lg-light-blue;
			border-radius: 10px;
			text-decoration: underline;
			min-height: 30px;
			transition: opacity ease $tr;

			&:hover {
				text-decoration: none;
				opacity: $op;
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $dark-blue;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		background-color: $light-gray;
		border-radius: $bord-20;
		height: 40px;
		margin: 10px 0;

		&.desktop {
			display: none;

			@media all and (min-width: $xl) {
				display: flex;
				font-size: 24px;
				padding: 0 50px;
				height: 80px;
				justify-content: flex-start;
				margin: 27px 0 0 0;
			}
		}

		&.mobile {
			@media all and (min-width: $xl) {
				display: none;
			}			
		}

		&_wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 100%;
			max-width: 100%;

			@media all and (min-width: $xl) {
				max-width: 293px;
			}
		}

		&_nums {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			position: relative;
			width: 50%;

			@media all and (min-width: $xl) {
				padding-right: 40px;
				width: auto;
			}

			&::before {
				content: '';
				display: block;
				width: 2px;
				height: 80%;
				background-color: $white;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				border-bottom: 100px;
			}

			span {
				margin-right: 6px;
			}
		}

		&_rate {
			display: flex;
			align-items: center;
			font-weight: $fw-medium;
			
			height: 100%;
			width: 50%;
			justify-content: center;

			@media all and (min-width: $xl) {
				width: auto;
				justify-content: flex-start;
				padding-left: 40px;
			}

			svg {
				width: 20px;
				height: 20px;
				margin-right: 8px;

				@media all and (min-width: $xl) {
					width: 30px;
					height: 30px;					
				}
			}
		}

		.feedback__num {
			font-weight: $fw-medium;
		}
	}

	&__right {
		width: 100%;
		max-width: 225px;
		display: none;

		@media all and (min-width: $md) {
			display: block;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.bookmaker-feedback-swiper {
	overflow: visible;
	margin: 20px 0;

	@media all and (min-width: $xl) {
		display: none;
	}

	.swiper-slide {
		width: 196px;
	}

	.fixed__aside_item {
		padding: 20px;
	}

	.fixed__inner {
		flex-direction: column;
		height: auto;
		align-items: flex-start;
	}

	.fixed__feedbacks {
		flex-direction: row;
		
		padding: 10px 0;
		margin: 10px 0;

		&::before, &::after {
			display: none;
		}

		span {
			margin-right: 5px;
		}
	}

	.fixed__rate {
		padding-left: 0;
	}
}