.blog {
	padding: 40px 0;

	@media all and (min-width: $xl) {
		padding: 50px 0;
	}

	.container {
		max-width: 1560px;
	}

	.h2 {
		margin-bottom: 40px;

		@media all and (min-width: $xl) {
			padding-left: 60px;
		}
	}

	.blog__items {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 40px 30px;
	}

	.blue {
		margin-top: 40px;
	}
}