.bonuses {
	padding: 0;

	@media all and (min-width: $xl) {
		padding: 40px 0;
	}

	.container {
		max-width: 1560px;
	}

	.bonuses__cards {
		gap: 40px 30px;

		&_wrapper {
			border-radius: $bord-20;

			@media all and (min-width: $xl) {
				background-color: $light-gray;
				padding: 50px 0;
			}
		}
	}

	.h2 {
		margin-bottom: 40px;

		span {
			color: $light-blue;
		}

		@media all and (min-width: $xl) {
			padding-left: 60px;
		}
	}

	.full {
		max-width: 1330px;
	}
}