.hero-main {
	padding: 15px 0;

	@media all and (min-width: $md) {
		padding: 20px 0;
	}

	@media all and (min-width: $lg) {
		padding: 50px 0;
	}

	&__blocks {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: 850px;
		background: $lg-light-blue;
		border-radius: $bord-20;
		padding: 35.3% 3% 5.5% 6.5%;
		margin-bottom: 16px;

		@media all and (min-width: $md) {
			padding: 13.3% 3% 4.2% 5.4%;
		}

		@media all and (min-width: $lg) {
			padding: 16.3% 3% 4.2% 6.5%;
			margin-bottom: 0;
			margin-right: 20px;			
		}

		&_text {
			display: flex;
			justify-content: space-between;

			@media all and (min-width: $md) {
				justify-content: flex-start;
				align-items: center;
			}

			@media all and (min-width: $lg) {
				align-items: flex-end;
			}

			svg {
				width: 30px;
				height: 30px;
				margin-left: 10px;
				cursor: pointer;
				margin-right: 10px;
	
				path {
					fill: $white;
				}

				@media all and (min-width: $md) {
					width: 40px;
					height: 40px;
					margin-right: 0;
				}
			}
		}
	}

	&__text {
		color: $white;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		width: 70%;

		@media all and (min-width: $md) {
			font-size: 24px;
			width: 80%;
		}

		@media all and (min-width: $xl) {
			width: 83%;
		}

		span {
			font-size: 16px;
			font-weight: $fw-medium;
			

			@media all and (min-width: $md) {
				font-size: 24px;
			}

			@media all and (min-width: $xl) {
				font-size: 36px;
			}
		}
	}

	&__right {
		width: 100%;
		max-width: 850px;
		display: flex;
		flex-direction: column;

		&_top {
			position: relative;	
			background: linear-gradient(90deg, #494949 0%, rgba(217, 217, 217, 0.00) 100%);
			border-radius: $bord-20;
			margin-bottom: 15px;
			height: calc(50% - 15px);
			padding: 30.5% 5% 5% 6%;
			overflow: hidden;

			@media all and (min-width: $md) {
				padding: 26.5% 8% 4% 5%;
			}

			@media all and (min-width: $xl) {
				padding: 23.5% 8% 6% 5%;
			}

			.hero-main__bottom_text {
				font-size: 24px;

				@media all and (min-width: $xl) {
					font-size: 36px;
				}
			}

			@media all and (min-width: $md) {
				margin-bottom: 20px;
			}

			@media all and (min-width: $lg) {
				margin-bottom: 30px;
			}
		}

		&_bg {
			width: 100%;
			height: 100%;
			position: absolute;
			right: -46%;
			top: -3%;
			z-index: 1;

			@media all and (min-width: $xl) {
				right: -26%;	
			}
		}

		&_bottom {
			width: 100%;
			height: calc(50% - 8.5px);
			display: flex;
			gap: 16px;

			@media all and (min-width: $md) {
				gap: 30px;
				height: calc(50% - 15px);
			}

			.hero-main__bottom_text {
				font-size: 24px;

				@media all and (min-width: $xl) {
					font-size: 36px;
				}
			}
		}
	}

	&__bottom_left, &__bottom_right {
		background-color: $dark-blue;
		width: 50%;
		border-radius: $bord-20;
		padding: 22% 5% 5% 6%;

		@media all and (min-width: $md) {
			padding: 26% 5% 5% 6%;		
		}

		@media all and (min-width: $xl) {
			padding: 23% 5% 5% 6%;		
		}
	}

	&__bottom_text {
			color: $white;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: 1.2;

			@media all and (min-width: $md) {
				font-size: 16px;
			}

			@media all and (min-width: $md) {
				font-size: 24px;
			}

			@media all and (min-width: $lg) {
				font-size: 36px;
			}

		span {
			font-weight: $fw-medium;
			margin-right: 5px;

			@media all and (min-width: $md) {
				font-size: 32px;
				margin-right: 0;
			}

			@media all and (min-width: $xl) {
				font-size: 36px;
			}
		}
	}

	.h1 {
		font-size: 30px;
		font-weight: $fw-medium;
		line-height: 1;
		margin-bottom: 60px;

		@media all and (min-width: $sm) {
			font-size: 35px;
		}

		@media all and (min-width: $md) {
			font-size: 48px;
			margin-bottom: 30px;
		}

		@media all and (min-width: $lg) {
			font-size: 64px;
			margin-bottom: 179px;
		}

		span {
			color: $white;
		}
	}
}