.hero {
	padding: 20px 0 50px;

	@media all and (min-width: $xxl) {
		padding: 20px 0 100px;
	}

	&__content {
		display: flex;

		&_main {
			width: 100%;
			max-width: 1205px;

			@media all and (min-width: $xl) {
				margin: 0 24px;
			}
		}
	}

	&__filters_box {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.sort__button_wrapper {
		position: relative;
	}

	.filter__button_wrapper {
		display: flex;
		align-items: center;

		@media all and (min-width: $xl) {
			display: none;
		}

		.filter__button {
			display: flex;
			-webkit-box-pack: center;
			justify-content: center;
			align-items: center;
			color: $gray-middle;
			font-family: $ff;
			font-size: 14px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: normal;
			padding: 10px 20px;
			cursor: pointer;

			@media all and (min-width: $lg) {
				font-size: 16px;
			}

			&_img {
				width: 20px;
				height: 20px;
				margin-right: 10px;
			}

			svg {
				width: 100%;
				height: 100%;

				path {
					fill: $light-blue;
				}
			}
		}
	}

	.sort__hidden_items {
		width: 224px;
		padding: 8px 0;
		border-radius: 8px;
		background-color: $white;
		box-shadow: $gray-shadow;
		position: absolute;
		top: 100%;
		left: 0;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: opacity ease $tr,
			visibility ease $tr;

		&.showed {
			opacity: 1;
			visibility: visible;
			z-index: 1;
		}
	}

	.sort__hidden_item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 16px;
		color: #444444;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		cursor: pointer;

		svg {
			opacity: 0;
			margin-left: 8px;
			visibility: hidden;
			transition: opacity ease $tr,
				visibility ease $tr;
		}

		&.active {
			background-color: $light-gray;

			svg {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__content_wrapper {
		display: flex;
	}

	&__text {
		padding: 20px;
		background-color: $light-gray;
		color: $gray-middle;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 130%;
		border-radius: $bord-20;

		@media all and (min-width: $md) {
			font-size: 16px;
		}

		@media all and (min-width: $xl) {
			font-size: 20px;
		}
	}

	&__items {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&_panel {
			width: 100%;
			margin: 15px 0 0;
			padding: 18.5px 0 18.5px 10px;
			display: none;
			background-color: $light-blue2;
			border-radius: $bord-20;

			@media all and (min-width: $md) {
				display: flex;
			}
		}

		.panel__item {
			width: 20%;
			height: 100%;
			display: flex;
			justify-content: center;
			color: $dark-blue;
			text-align: center;
			font-family: $ff;
			font-size: 14px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;

			&:first-child {
				justify-content: flex-start;
				padding-left: 2.5%;

				@media all and (min-width: $md) {
					width: 25%;
				}

				@media all and (min-width: $xxl) {
					width: 20%;
				}
			}

			&:nth-child(2) {
				@media all and (min-width: $md) {
					width: 25%;
				}

				@media all and (min-width: $xxl) {
					width: 20%;
				}
			}

			&:nth-child(3) {
				justify-content: center;

				@media all and (min-width: $md) {
					width: 25%;
				}
				
				@media all and (min-width: $xxl) {
					width: 20%;
				}
			}

			&:nth-child(4) {
				display: none;

				@media all and (min-width: $xxl) {
					display: block;
				}
			}
		}
	}

	&__bookmakers {
		width: 100%;
	}
}