.last {
	padding: 50px 0px;
	background-color: $light-gray;

	@media all and (min-width: $xl) {
		padding: 50px 0 80px;
	}

	.container {
		max-width: 1465px;
	}
}

.h2__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 47px;

	h2 {
		width: 60%;

		@media all and (min-width: $sm) {
			width: auto;
		}
	}

	.box__shadow_button {
		min-width: 50px;
		white-space: nowrap;
		margin-left: 10px;

		@media all and (min-width: $md) {
			padding: 10px 20px;
			min-width: 181px;
		}
	}
}