.selection {
	padding: 50px 0;

	@media all and (min-width: $md) {
		padding: 78px 0;
	}

	@media all and (min-width: $xxl) {
		padding: 142px 0 95px;
	}

	.container {
		max-width: 1465px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media all and (min-width: $md) {
			flex-direction: row;
			align-items: center;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 228px;
		align-items: flex-start;

		@media all and (min-width: $md) {
			margin-right: 70px;
		}

		@media all and (min-width: $lg) {
			
			max-width: 455px;
		}

		.blue {
			width: 100%;
			display: none;

			@media all and (min-width: $lg) {
				width: auto;
			}

			&.desktop {
				@media all and (min-width: $md) {
					display: flex;
				}
			}
		}
	}

	&__title {
		color: $dark-blue;
		font-family: $ff;
		font-size: 24px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
		margin-bottom: 30px;

		span {
			color: $light-blue;
		}

		@media all and (min-width: $lg) {
			font-size: 48px;
		}
	}

	&__img {
		width: 135px;
		height: 135px;
		position: absolute;
		left: 65%;
		top: -100px;
		z-index: -1;

		@media all and (min-width: $md) {
			left: -120px;
			top: -40px;
		}

		@media all and (min-width: $lg) {
			width: 180px;
			height: 180px;
			left: -150px;
			top: -100px;
		}

		@media all and (min-width: 1400px) {
			left: -150px;
			top: -50px;
		}
	}

	&__right {
		width: 100%;
		max-width: 840px;
		position: relative;
		padding: 20px 45px;
		border-radius: $bord-20;
		background: $lg-light-blue;

		@media all and (min-width: $lg) {
			padding: 40px 90px;
		}

		&_text {
			color: $white;
			font-family: $ff;
			font-size: 14px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: 130%;

			@media all and (min-width: $md) {
				font-size: 18px;
			}

			@media all and (min-width: $xl) {
				font-size: 24px;
			}
		}
	}

	.button.mobile {
		margin-top: 20px;

		@media all and (min-width: $md) {
			display: none;
		}
	}
}