.testimonials {
	padding: 50px 0;
	background-color: $light-gray;

	.container {
		max-width: 1460px;
	}

	&__titles {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 47px;
	}
}