.testimonials {
	padding: 22px 0;
	background-color: $light-gray;

	@media all and (min-width: $xxl) {
		padding: 50px 0;
	}

	.container {
		max-width: $container-xxl;
	}

	&__titles {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 47px;
	}
}