.bookmaker__box {
	padding: 30px 0 0;

	&_items {
		display: flex;
	}

	&_content {
		width: calc(100% - 290px);
		margin-right: 33px;
	}

	&_title {
		display: flex;
		align-items: center;
		margin: 50px 0 35px;

		.h1 {
			margin-bottom: 0;
			margin-right: 20px;
		}
	}


	.testimonials {
		border-radius: $bord-20;
		padding: 50px 30px;
	}
}