.feedbacks {
	padding: 25px 0;

	.h2 {
		span {
			color: $gray-middle;
			font-family: $ff;
			font-size: 20px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;
			margin-left: 10px;

			@media all and (min-width: $md) {
				font-size: 32px;
				margin-left: 15px;
			}
		}
	}

	.sort__button_wrapper {
		.sort__button_text {
			display: none;

			@media all and (min-width: $md) {
				display: block;
			}
		}

		.sort__hidden_items.showed {
			left: auto;
			right: 0;

			@media all and (min-width: $md) {
				right: auto;
				left: 0;
			}
		}
	}

	&__panel {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 35px;
		
		@media all and (min-width: $xl) {
			padding: 0 50px;
		}
	}
}