.bookmaker__item {
	display: flex;
	width: 100%;
	position: relative;
	padding: 20px;
	border-radius: $bord-20;

	@media all and (min-width: $md) {
		padding: 50px;
		max-width: 1430px;
	}

	&_image {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&_left {
		width: 100%;
		max-width: 825px;
	}

	.item__left_top {
		margin-bottom: 60px;

		&.desktop {
			display: none;

			@media all and (min-width: $md) {
				display: block;
			}
		}
	}

	.item__left_bottom {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;

		@media all and (min-width: $md) {
			flex-direction: row;
			align-items: flex-end;
		}
	}

	.item__left_row {
		display: flex;
	}

	.item__left_col {
		display: flex;
		flex-direction: column;
		padding: 0 40px;
		border-right: 2px solid $white;

		&:first-child {
			padding-left: 0;
		}

		&:nth-child(3) {
			flex-direction: row;
			align-items: center;
		}
	}

	.item__col_name {
		color: $white;
		font-family: $ff;
		font-size: 20px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		margin-bottom: 10px;
	}

	.item__col_link, .item__col_num {
		color: $white;
		font-family: $ff;
		font-size: 20px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
	}

	.item__col_link {
		text-decoration: underline;
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
			text-decoration: none;
		}
	}

	.item__col_value {
		color: $white;
		font-family: $ff;
		font-size: 32px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
		margin-right: 20px;
	}

	.item__left_links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		max-width: 100%;

		@media all and (min-width: $md) {
			margin-right: 42px;
			max-width: 270px;
		}

		a {
			width: 100%;
		}

		.white {
			margin-bottom: 7px;
		}
	}

	.item__left_text {
		display: flex;
		align-items: center;
		color: $white;
		font-family: $ff;
		font-size: 20px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;
		margin-bottom: 16px;

		svg {
			width: 20px;
			height: 20px;
			margin-right: 10px;

			path {
				fill: $white;
			}
		}
	}

	&_right {
		width: 100%;
		max-width: 220px;
		margin-left: auto;
		transition: opacity ease $tr;
		display: none;

		@media all and (min-width: $md) {
			display: block;
		}

		&:hover {
			opacity: $op;
		}
	}

	.bookmaker__mobile_wrapper {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $md) {
			display: none;
		}

		.item__left_col {
			padding: 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 20px;
		}
	}

	.bookmaker__mobile_img {
		width: 100px;
		height: 100px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.col__wrapper {
		display: flex;
		align-items: center;

		.item__left_col {
			flex-direction: column;
			align-items: flex-start;
			padding-right: 20px;

			&:last-child {
				border: 0;
				padding-right: 0;
				padding-left: 20px;
			}
		}
	}

	.bookmaker__mobile_info {
		display: flex;
		flex-direction: column;
		width: calc(100% - 113px);
		margin-left: 13px;

		.bookmaker__mobile_item{
			.grey__border_link {
				background-color: $white;
				display: flex;
				justify-content: center;
				max-width: 180px;
				margin-bottom: 13px;
			}
		}
	}

	.bookmaker__mobile_title {
		color: $white;
		font-family: $ff;
		font-size: 20px;
		font-style: normal;
		font-weight: $fw-bold;
		line-height: 130%;
		margin-bottom: 13px;
	}

	.bookmaker__mobile_top {
		display: flex;
	}

	.mobile__item_wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 13px;

		.item__col_name {
			margin-bottom: 0;
			margin-right: 10px;
		}

		.bookmaker__mobile_link {
			color: $white;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;
			text-decoration: underline;
		}
	}
}