.types {
	padding: 20px 0;

	&__wrapper {
		.h2 {
			margin-bottom: 30px;

			@media all and (min-width: $xl) {
				padding-left: 60px;
			}
		}

		.types-swiper1, .types-swiper2 {
			position: relative;
			padding: 0 25px;
	
			&::before {
				content: '';
				width: 40px;
				display: block;
				height: 100%;
				background: linear-gradient(90deg, #ffffff 37.05%, rgba(246, 246, 246, 0) 100%);
				position: absolute;
				left: -20px;
				top: 0;
				z-index: 10;

				@media all and (min-width: $md) {
					width: 54px;
				}
			}
		
			&::after {
				content: '';
				width: 40px;
				display: block;
				height: 100%;
				background: linear-gradient(-90deg, #FFFFFF 37.05%, rgba(246, 246, 246, 0.00) 100%);
				position: absolute;
				right: -20px;
				top: 0;
				z-index: 10;

				@media all and (min-width: $md) {
					width: 54px;
				}
			}
		}

		.types-swiper1 {
			margin-bottom: 26px;
		}

		.swiper-wrapper {
			-webkit-transition-timing-function: linear !important;
			transition-timing-function: linear !important;
		}
	}
}