.bookmaker {
	padding: 15px 0;
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;

	&:first-child {
		border-top: 1px solid transparent;
	}

	&__wrapper {
		width: 100%;
		padding: 10px 0 10px 10px;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	&__img {
		width: 120px;
		height: 39px;
		margin-bottom: 4px;

		@media all and (min-width: $xl) {
			width: 150px;
			height: 49px;
		}

		&_wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 40%;
			margin-bottom: 17px;

			@media all and (min-width: $md) {
				width: 25%;
				margin-bottom: 0;
			}

			@media all and (min-width: $lg) {
				width: 25%;
			}

			@media all and (min-width: $xxl) {
				width: 20%;
			}
		}

		&_inner {
			width: 100%;
			max-width: 120px;
			transition: opacity ease $tr;

			@media all and (min-width: $xl) {
				max-width: 150px;
			}

			&:hover {
				opacity: $op;
			}
		}

		&_text {
			color: $dark-blue;
			text-align: center;
			font-family: $ff;
			font-size: 14px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: normal;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__rate {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 146px;
		background-color: $light-gray;
		border-radius: 20px;
		margin-right: 10px;
		height: 100%;
		padding: 15px 0;

		&_wrapper {
			width: 50%;
			display: flex;
			justify-content: center;

			@media all and (min-width: $md) {
				width: 25%;
			}

			@media all and (min-width: $xxl) {
				width: 20%;
			}
		}

		@media all and (min-width: $md) {
			padding: 17px 15.5px;
		}

		&_num {
			display: flex;
			color: $dark-blue;
			font-family: $ff;
			font-size: 12px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;

			@media all and (min-width: 1600px) {
				display: none;
			}
		}

		.bookmaker__star {
			display: flex;
			align-items: center;
			margin-left: 6px;

			svg {
				&:not(svg:first-child) {
					display: none;

					@media all and (min-width: 1600px) {
						display: block;
					}
				}

				@media all and (min-width: $md) {
					margin-right: 0;
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&__comments {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 93px;
		background-color: $light-gray;
		border-radius: 100px;
		transition: opacity ease $tr;

		@media all and (min-width: $md) {
			padding: 0 20px;
		}

		&_img {
			width: 16px;
			height: 16px;
			margin-right: 4px;

			svg {
				width: 100%;
				height: 100%;
			}

			@media all and (min-width: $xxl) {
				width: 20px;
				height: 20px;
				margin-right: 10px;			
			}
		}

		&:hover {
			opacity: $op;
		}

		.message__value {
			color: $light-blue;
			font-family: $ff;
			font-size: 12px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;

			@media all and (min-width: $xxl) {
				font-size: 20px;
			}
		}
	}

	&__bonus {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 14px;
		width: 100%;
		max-width: 113px;
		background-color: $light-rose;
		border-radius: 100px;

		@media all and (min-width: $lg) {
			max-width: 155px;
		}

		&_wrapper {
			width: 35%;
			display: flex;
			justify-content: center;

			@media all and (min-width: $md) {
				width: 20%;
			}

			@media all and (min-width: $lg) {
				width: 25%;
			}

			@media all and (min-width: $xxl) {
				width: 20%;
			}

			&.desktop {
				display: none;

				@media all and (min-width: $md) {
					display: flex;
					justify-content: center;
				}
			}

			&.mobile {
				justify-content: flex-start;

				@media all and (min-width: $md) {
					display: none;
				}
			}
		}

		@media all and (min-width: $md) {
			padding: 15px;
		}

		&_img {
			width: 16px;
			height: 16px;
			display: flex;
			align-items: center;
			margin-right: 12px;

			svg {
				width: 100%;
				height: 100%;
			}

			@media all and (min-width: $xxl) {
				width: 20px;
				height: 20px;
				margin-right: 15px;			
			}
		}

		.bonus__value_box {
			color: $dark-blue;
			font-family: $ff;
			font-size: 12px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: normal;

			@media all and (min-width: $xxl) {
				font-size: 20px;
			}
		}
	}

	&__apps {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 10px 0;
		max-width: 70px;

		&_wrapper {
			width: 20%;
			display: none;
			justify-content: center;

			@media all and (min-width: $xxl) {
				display: flex;
			}
		}

		.bookmaker__app {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;

			svg {
				width: 100%;
				height: 100%;
			}

			svg path {
				transition: stroke ease $tr,
					fill ease $tr;
			}

			&:hover {
				&:first-child {
					svg path {
						fill: transparent;
						stroke: $dark-blue;
					}
				}

				&:last-child {
					svg path {
						fill: #a4c639;
					}
				}
			}
		}
	}

	&__buttons {
		display: none;
		align-items: center;
		justify-content: center;
		width: 20%;
		height: 100%;

		@media all and (min-width: $md) {
			justify-content: space-between;
		}

		.button.transparent {
			padding: 0 10px;
			font-size: 14px;

			@media all and (min-width: $lg) {
				padding: 0 20.5px;
				margin-right: 10px;
				font-size: 16px;
			}
		}

		.button.blue {
			padding: 0 37.4px;
			font-size: 14px;

			@media all and (min-width: $lg) {
				padding: 0 33.9px;
				margin-right: 10px;
				font-size: 16px;
			}

			@media all and (min-width: $xl) {
				padding: 10px;
			}

			@media all and (min-width: 1600px) {
				padding: 0 37.4px;
			}
		}

		&.mobile {
			display: flex;
			width: 60%;

			@media all and (min-width: $md) {
				display: none;
			}
		}

		&.desktop {
			display: none;

			@media all and (min-width: $md) {
				display: flex;
				width: 30%;
			}

			@media all and (min-width: $lg) {
				width: 25%;
			}

			@media all and (min-width: $xxl) {
				width: 20%;
			}
		}
	}
}