.sport {
	width: 100%;
	height: 190px;
	transition: opacity ease $tr;

	@media all and (min-width: $md) {
		width: 229px;
	}

	@media all and (min-width: 1920px) {
		width: 267px;
	}

	&:hover {
		opacity: $op;
	}

	&__inner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		padding: 30px 20px;
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: $bord-20;
		}
	}

	&__title {
		display: flex;
		align-items: center;

		&_img {
			margin-right: 10px;
		}

		&_name {
			color: $white;
			text-align: center;
			font-family: $ff;
			font-size: 16px;
			font-style: normal;
			font-weight: $fw-medium;
			line-height: 100%;
		}
	}
}