.footer {
	padding: 50px 0;
	background-color: $light-gray;

	&__logo {
		width: 192px;
		height: 40px;
		transition: opacity ease $tr;
		margin-bottom: 20px;

		@media all and (min-width: $md) {
			width: 265px;
			height: 54px;
			margin-bottom: 0;		
		}

		img {
			width: 100%;
			height: 100%;
		}

		&:hover {
			opacity: $op;
		}
	}

	&__top {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding-bottom: 23px;
		margin-bottom: 30px;
		border-bottom: 2px solid #D1D1D6;

		@media all and (min-width: $md) {
			flex-direction: row;
			align-items: center;
		}
	}

	&__social {
		padding: 10px;
		background-color: $white;
		border-radius: $bord-20;
		box-shadow: $gray-shadow3;
		transition: opacity ease $tr;
		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}

		&_items {
			display: flex;
			align-items: center;
		}

		&:hover {
			opacity: $op;
		}
	}

	&__info_items {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&__info_item {
		padding: 19.5px 30px;
		color: $dark-blue;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		margin-bottom: 20px;
		background-color: $white;
		box-shadow: $gray-shadow3;
		border-radius: $bord-20;

		@media all and (min-width: $md) {
			margin-bottom: 0;
			margin-right: 20px;
		}

		@media all and (min-width: $lg) {
			font-size: 18px;
		}

		span {
			font-weight: $fw-bold;
		}

		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}
	}

	.footer-swiper {
		margin: 40px 0;
		overflow: visible;
		padding-bottom: 10px;
		border-bottom: 4px solid $white;

		.swiper-wrapper {
			display: flex;
			align-items: center;
			-webkit-transition-timing-function: linear !important;
			transition-timing-function: linear !important;
		}
		.swiper-slide {
			display: flex;
			align-items: center;
			justify-content: center;
			transition: opacity ease $tr;

			&:hover {
				opacity: $op;
			}
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding-top: 10px;
		position: relative;

		@media all and (min-width: $md) {
			flex-direction: row;
			align-items: flex-end;
			justify-content: flex-start;
		}

		@media all and (min-width: $lg) {
			flex-direction: column;
			align-items: center;
		}

		@media all and (min-width: $xxl) {
			flex-direction: row;
		}
	}

	&__notify {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-end;
		justify-content: space-between;
		width: 100%;

		@media all and (min-width: $md) {
			align-items: center;
			justify-content: space-between;
		}

		@media all and (min-width: $xxl) {
			max-width: 300px;
			justify-content: flex-start;
			flex-direction: row;
		}
	}

	&__age {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $dark-blue;
		font-family: $ff;
		font-size: 20px;
		font-style: normal;
		font-weight: $fw-bold;
		line-height: normal;
		padding: 20px;
		background-color: $white;
		border-radius: $bord-20;

		@media all and (min-width: $md) {
			position: absolute;
			right: 0;
			top: 0;
		}

		@media all and (min-width: $lg) {
			padding: 10px;
			margin-right: 10px;
			position: static;
			right: auto;
			top: auto;
		}
	}

	&__year {
		color: $dark-blue;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: normal;

		@media all and (min-width: $md) {
			font-size: 18px;
			position: absolute;
			right: 0;
			bottom: 0;
		}

		@media all and (min-width: $lg) {
			position: static;
			right: auto;
			bottom: auto;
		}
	}

	&__nav {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 70px;

		@media all and (min-width: $md) {
			margin-bottom: 0;
		}

		@media all and (min-width: $lg) {
			flex-direction: row;
			margin-bottom: 70px;
		}

		@media all and (min-width: $xxl) {
			margin-bottom: 0;
		}
	}

	&__link {
		color: $gray-middle;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		transition: color ease $tr;
		margin-bottom: 30px;

		@media all and (min-width: $md) {
			font-size: 18px;
		}

		@media all and (min-width: $lg) {
			margin-right: 25px;
			margin-bottom: 0;
			font-size: 16px;
		}

		@media all and (min-width: $xxl) {
			margin-right: 20px;
			font-size: 18px;
		}

		@media all and (min-width: 1500px) {
			margin-right: 46px;
		}

		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}

		&:hover {
			color: $light-blue;
		}
	}
}