<aside class="aside-left">
	<div class="aside-left__wrapper">
		<div class="aside-left__item first">
			<a href="#" class="aside-left__item_link">
				Все букмекеры
			</a>
		</div>
		<div class="aside-left__item">
			<a href="#" class="aside-left__item_link">
				Крупнейшие букмекеры мира
			</a>
		</div>
		<div class="dropdown">
			<div class="aside-left__dropdown">
				<div class="dropdown__title">
					<div class="dropdown__start">
						<div class="dropdown__start_text">
							Легальные
						</div>
						<div class="dropdown__arrow">
							@@include('../../../svg/ui/dropdown-arrow.html')
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown__open">
				<div class="dropdown__inner">
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							Легальный букмекер
						</a>
					</div>
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							Легальный букмекер
						</a>
					</div>
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							Легальный букмекер
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="aside-left__item">
			<a href="#" class="aside-left__item_link">
				Букмекеры с высокими коэффициентами
			</a>
		</div>
		<div class="dropdown">
			<div class="aside-left__item">
				<div class="dropdown__title">
					<div class="dropdown__start">
						<div class="dropdown__start_text">
							Букмекеры с бонусами
						</div>
						<div class="dropdown__arrow">
							@@include('../../../svg/ui/dropdown-arrow.html')
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown__open">
				<div class="dropdown__inner">
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							Букмекеры с демо счетом
						</a>
					</div>
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							Букмекеры с русской версией
						</a>
					</div>
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							Новые букмекерские конторы
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="aside-left__item">
			<a href="#" class="aside-left__item_link">
				Киберспортивные букмекеры
			</a>
		</div>
		<div class="dropdown">
			<div class="aside-left__item">
				<div class="dropdown__title">
					<div class="dropdown__start">
						<div class="dropdown__start_text">
							С мобильной версией
						</div>
						<div class="dropdown__arrow">
							@@include('../../../svg/ui/dropdown-arrow.html')
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown__open">
				<div class="dropdown__inner">
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							С мобильной версией
						</a>
					</div>
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							С мобильной версией
						</a>
					</div>
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							С мобильной версией
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="dropdown">
			<div class="aside-left__item">
				<div class="dropdown__title">
					<div class="dropdown__start">
						<div class="dropdown__start_text">
							Букмекеры с высокими коэффициентами
						</div>
						<div class="dropdown__arrow">
							@@include('../../../svg/ui/dropdown-arrow.html')
						</div>
					</div>
				</div>
			</div>
			<div class="dropdown__open">
				<div class="dropdown__inner">
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							Высокие коээффициенты
						</a>
					</div>
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							Высокие коээффициенты
						</a>
					</div>
					<div class="aside-left__item">
						<a href="#" class="aside-left__item_link">
							Высокие коээффициенты
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="aside-left__item">
			<a href="#" class="aside-left__item_link">
				Рейтинг надёжности
			</a>
		</div>
		<div class="aside-left__item">
			<a href="#" class="aside-left__item_link">
				Букмекеры с бонусами
			</a>
		</div>
		<div class="aside-left__item">
			<a href="#" class="aside-left__item_link">
				По платежам
			</a>
		</div>
		<div class="aside-left__item">
			<a href="#" class="aside-left__item_link">
				По валютам
			</a>
		</div>
		<div class="aside-left__item">
			<a href="#" class="aside-left__item_link">
				Тотализаторы
			</a>
		</div>
		<div class="aside-left__item last">
			<a href="#" class="aside-left__item_link">
				Проверенные
			</a>
		</div>
	</div>
	</div>
</aside>