<aside class="aside-right">
	<div class="aside-right__wrapper">
		<div class="aside__filter_wrapper">
			<div class="aside__toggle_wrapper">
				<div class="aside__toggle">
					<input type="checkbox" class="toggle__checkbox" id="toggle-checkbox" />
					<label for="toggle-checkbox" class="toggle__label">Без депозита</label>
				</div>
			</div>
		</div>
		<div class="aside__filter_wrapper">
			<div class="aside__filter">
				<h5 class="h5">
					Пополнение счёта
				</h5>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="bank-check" type="checkbox" name="aside-checkbox">
					<label for="bank-check" class="checkbox__label">
						Банковский перевод
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="crypto-check" type="checkbox" name="aside-checkbox">
					<label for="crypto-check" class="checkbox__label">
						Криптовалюта
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="master-check" type="checkbox" name="aside-checkbox">
					<label for="master-check" class="checkbox__label">
						Mastercard
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="web-check" type="checkbox" name="aside-checkbox">
					<label for="web-check" class="checkbox__label">
						WebMoney
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="web-check1" type="checkbox" name="aside-checkbox">
					<label for="web-check1" class="checkbox__label">
						Visa
					</label>
				</div>
				<div class="hidden__checkboxes">
					<div class="hidden__checkboxes_inner">
						<div class="checkbox__wrapper">
							<input class="checkbox" id="1-check" type="checkbox" name="aside-checkbox">
							<label for="1-check" class="checkbox__label">
								Фильтр 1
							</label>
						</div>
						<div class="checkbox__wrapper">
							<input class="checkbox" id="2-check" type="checkbox" name="aside-checkbox">
							<label for="2-check" class="checkbox__label">
								Фильтр 2
							</label>
						</div>
						<div class="checkbox__wrapper">
							<input class="checkbox" id="3-check" type="checkbox" name="aside-checkbox">
							<label for="3-check" class="checkbox__label">
								Фильтр 3
							</label>
						</div>
					</div>
				</div>
				<div class="show__more">
					<span class="show__more_text">
						Показать все
					</span>
					<div class="show__more_arrow">
						@@include('../../../svg/ui/dropdown-arrow.html')
					</div>
				</div>
			</div>
		</div>
		<div class="aside__filter_wrapper">
			<div class="aside__filter">
				<h5 class="h5">
					Вывод средств
				</h5>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="bank-check1" type="checkbox" name="aside-checkbox">
					<label for="bank-check1" class="checkbox__label">
						Банковский перевод
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="crypto-check1" type="checkbox" name="aside-checkbox">
					<label for="crypto-check1" class="checkbox__label">
						Криптовалюта
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="master-check1" type="checkbox" name="aside-checkbox">
					<label for="master-check1" class="checkbox__label">
						Mastercard
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="web-check1123" type="checkbox" name="aside-checkbox">
					<label for="web-check1123" class="checkbox__label">
						WebMoney
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="vis-check11" type="checkbox" name="aside-checkbox">
					<label for="vis-check11" class="checkbox__label">
						Visa
					</label>
				</div>
				<div class="hidden__checkboxes">
					<div class="hidden__checkboxes_inner">
						<div class="checkbox__wrapper">
							<input class="checkbox" id="11-check" type="checkbox" name="aside-checkbox">
							<label for="11-check" class="checkbox__label">
								Фильтр 1
							</label>
						</div>
						<div class="checkbox__wrapper">
							<input class="checkbox" id="22-check" type="checkbox" name="aside-checkbox">
							<label for="22-check" class="checkbox__label">
								Фильтр 2
							</label>
						</div>
						<div class="checkbox__wrapper">
							<input class="checkbox" id="33-check" type="checkbox" name="aside-checkbox">
							<label for="33-check" class="checkbox__label">
								Фильтр 3
							</label>
						</div>
					</div>
				</div>
				<div class="show__more">
					<span class="show__more_text">
						Показать все
					</span>
					<div class="show__more_arrow">
						@@include('../../../svg/ui/dropdown-arrow.html')
					</div>
				</div>
			</div>
		</div>
		<div class="aside__filter_wrapper">
			<div class="aside__filter">
				<h5 class="h5">
					Рейтинг
				</h5>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="rate5" type="checkbox" name="aside-checkbox">
					<label for="rate5" class="checkbox__label">
						<span class="stars">
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="rate4" type="checkbox" name="aside-checkbox">
					<label for="rate4" class="checkbox__label">
						<span class="stars">
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="rate3" type="checkbox" name="aside-checkbox">
					<label for="rate3" class="checkbox__label">
						<span class="stars">
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="rate2" type="checkbox" name="aside-checkbox">
					<label for="rate2" class="checkbox__label">
						<span class="stars">
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper rate__last">
					<input class="checkbox" id="rate1" type="checkbox" name="aside-checkbox">
					<label for="rate1" class="checkbox__label">
						<span class="stars">
							<span class="star">
								@@include('../../../svg/ui/star-fill.html')
							</span>
						</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</aside>