<aside class="aside-right bonus-right">
	<div class="aside-right__wrapper">
		<div class="aside__filter_wrapper">
			<div class="aside__toggle_wrapper">
				<div class="aside__toggle">
					<input type="checkbox" class="toggle__checkbox" id="toggle-checkbox" />
					<label for="toggle-checkbox" class="toggle__label">Без депозита</label>
				</div>
			</div>
		</div>
		<div class="aside__filter_wrapper">
			<div class="aside__filter">
				<h5 class="h5">
					Типы бонуса
				</h5>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="bank-checkxxx" type="checkbox" name="aside-checkbox">
					<label for="bank-checkxxx" class="checkbox__label">
						<span class="label__caption">
							Фрибет
							<span class="label__value">7</span>
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="crypto-checkxxxx" type="checkbox" name="aside-checkbox">
					<label for="crypto-checkxxxx" class="checkbox__label">
						<span class="label__caption">
							Кешбек
							<span class="label__value">0</span>
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="master-checkxxxx" type="checkbox" name="aside-checkbox">
					<label for="master-checkxxxx" class="checkbox__label">
						<span class="label__caption">
							Повышенные коэффициенты 
							<span class="label__value">2</span>
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="web-checkxxxx" type="checkbox" name="aside-checkbox">
					<label for="web-checkxxxx" class="checkbox__label">
						<span class="label__caption">
							Кеш-бонус
							<span class="label__value">3</span>
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="web-check1xxxx" type="checkbox" name="aside-checkbox">
					<label for="web-check1xxxx" class="checkbox__label">
						<span class="label__caption">
							Приз
							<span class="label__value">6</span> 
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="web-check1xxx" type="checkbox" name="aside-checkbox">
					<label for="web-check1xxx" class="checkbox__label">
						<span class="label__caption">
							Страховка ставки
							<span class="label__value">1</span>
						</span>
					</label>
				</div>
			</div>
		</div>
		<div class="aside__filter_wrapper">
			<div class="aside__filter">
				<h5 class="h5">
					Виды спорта
				</h5>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="web-check1fff" type="checkbox" name="aside-checkbox">
					<label for="web-check1fff" class="checkbox__label">
						<span class="label__caption">
							Футбол
							<span class="label__value">1</span> 
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="web-check1fff1" type="checkbox" name="aside-checkbox">
					<label for="web-check1fff1" class="checkbox__label">
						<span class="label__caption">
							Хоккей
							<span class="label__value">0</span> 
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="web-check1fff2" type="checkbox" name="aside-checkbox">
					<label for="web-check1fff2" class="checkbox__label">
						<span class="label__caption">
							Баскетбол
							<span class="label__value">0</span> 
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="web-check1fff23" type="checkbox" name="aside-checkbox">
					<label for="web-check1fff23" class="checkbox__label">
						<span class="label__caption">
							Волейбол
							<span class="label__value">3</span> 
						</span>
					</label>
				</div>
				<div class="checkbox__wrapper">
					<input class="checkbox" id="web-check1fff235" type="checkbox" name="aside-checkbox">
					<label for="web-check1fff235" class="checkbox__label">
						<span class="label__caption">
							Киберспорт
							<span class="label__value">1</span> 
						</span>
					</label>
				</div>
				<div class="hidden__checkboxes">
					<div class="hidden__checkboxes_inner">
						<div class="checkbox__wrapper">
                            <input class="checkbox" id="web-check1fff24" type="checkbox" name="aside-checkbox">
                            <label for="web-check1fff24" class="checkbox__label">
                                <span class="label__caption">
                                    Единоборства
                                    <span class="label__value">1</span> 
                                </span>
                            </label>
						</div>
						<div class="checkbox__wrapper">
							<input class="checkbox" id="web-check1fff249" type="checkbox" name="aside-checkbox">
                            <label for="web-check1fff249" class="checkbox__label">
                                <span class="label__caption">
                                     Бокс
                                    <span class="label__value">1</span> 
                                </span>
                            </label>
						</div>
						<div class="checkbox__wrapper">
							<input class="checkbox" id="web-check1fff24a9" type="checkbox" name="aside-checkbox">
                            <label for="web-check1fff24a9" class="checkbox__label">
                                <span class="label__caption">
                                    Теннис
                                    <span class="label__value">1</span> 
                                </span>
                            </label>
						</div>
					</div>
				</div>
				<div class="show__more">
					<span class="show__more_text">
						Показать все
					</span>
					<div class="show__more_arrow">
						@@include('../../../svg/ui/dropdown-arrow.html')
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>