<div class="feedback">
	<div class="feedback__wrapper">
		<div class="feedback__left">
			<div class="feedback__top">
				<div class="feedback__top_title">
					<h1 class="h1">Отзывы о букмекерской конторе Фонбет</h1>
					<a href="#" class="feedback__link">
						fon.bet
					</a>
					<div class="grey__border_link feedback__top_notify">
						<img src="img/ico/check-green.svg" width="14" height="14" alt="">
						легальная БК
					</div>
				</div>
				<div class="feedback__top_links">
					<a class="button blue" href="#">Перейти на сайт</a>
					<a class="feedback__top_link" href="#">Обзор</a>
				</div>
			</div>
			<div class="feedback__bottom">
				<div class="feedback__bottom_wrapper">
					<div class="feedback__bottom_nums">
						<span class="feedback__num">381</span> отзыв
					</div>
					<div class="feedback__bottom_rate">
						@@include('../../svg/ui/star-fill.html')
						<div class="feedback__bottom_num">
							4,98
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="feedback__right">
			<div class="feedback__right_img">
				<img src="img/bookmakers/fb.svg" width="225" height="225" alt="">
			</div>
		</div>
	</div>
</div>