.breadcrumbs {
	margin-bottom: 16px;

	@media all and (min-width: $md) {
		margin-bottom: 0;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	.breadcrumb__item {
		display: flex;
		align-items: center;
		margin-right: 10px;
		transition: opacity ease $tr;

		@media all and (min-width: $md) {
			margin-right: 28px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&.current {
			margin-right: 0;
			.breadcrumb__link {
				color: $light-blue;

				svg {
					display: none;
				}

				svg path {
					fill: $light-blue;
				}

				pointer-events: none;
			}

			&:hover {
				opacity: 1;
			}
		}

		&:hover {
			opacity: $op;
		}
	}

	.breadcrumb__link {
		display: flex;
		align-items: center;
		color: $gray-middle;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
	}

	.breadcrumb__arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		padding-top: 2px;
		margin-left: 10px;

		@media all and (min-width: $md) {
			margin-left: 28px;
		}
	}
}