<div class="about__item">
	<div class="about__item_wrapper">
		<div class="about__item_top">
			<div class="about__item_brand">
				<div class="about__item_titles">
					<span class="about__item_num">@@num</span>
					<div class="about__item_img">
						<img src="@@src" width="260" height="60" loading="lazy" alt="">
					</div>
					<div class="about__item_name">
						@@name
					</div>
				</div>
				<div class="about__item_rate">
					<a href="@@link" class="about__item_link" target="_blank">
						@@link
					</a>
					<div class="about__item_stars">
						@@include('../../svg/ui/star-fill.html')
						@@include('../../svg/ui/star-fill.html')
						@@include('../../svg/ui/star-fill.html')
						@@include('../../svg/ui/star-fill.html')
						@@include('../../svg/ui/star-fill.html')
					</div>
					<a href="#" class="about__item_comment">
						<div class="about__comment_img">
							@@include('../../svg/ui/message.html')
						</div>
						<div class="about__comment_num">312</div>
					</a>
				</div>
				<button class="button blue">
					Перейти на сайт
				</button>
			</div>
			<div class="about__item_info">
				<p class="about__item_text">
					<strong>@@strong</strong> @@text
				</p>
			</div>
		</div>
	</div>
</div>